.foc-color{
    border: 2px solid #00ffff;
    border-radius: 10px;
    background: linear-gradient(107.85deg, rgba(124, 121, 121, 0.4) -144.58%, rgba(228, 226, 226, 0.27922) -144.58%, rgba(129, 21, 97, 0) 104.83%);
}

.foc-home{
    font-weight:bolder;
    border: 2px solid white;
    border-top: none;
    border-left: none;
    border-right:none;
    border-bottom-style: groove;
}